#users {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#addUserButton {
    margin-top: 10px;
    margin-bottom: 20px;
}

#addUserInputs {
   padding: 20px;
}

#adminSelectdesc {

}

#superAdminSelect {

}

.addUserInput {
    margin: 8px;
}

