/* .nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav-link {
  float: left;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px; */

/* these last two make the logout button in
  the nav bar look like another link */
/*   border: none;
  cursor: pointer;
  outline: 0;
}



.nav-right {
  float: right;
}


 */

.nav-link {
  display: inline;
}

.logout-button {
}

.nav-link:hover {
  background-color: #1a7696;
  border-radius: 15px;

  transition: all 300ms linear;
}

loginLinkData.text {
  color: white;
}
